blockquote {
    background: rgba(100, 100, 250, 0.2);
    border-radius: 5px;
    padding: 1rem;
}

#catalogue {
    width: 80%;
}

#catalogue > li {
    list-style: none;
}

#catalogue > li > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
