li {
    list-style: none;
}

li > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

blockquote {
    background: rgba(100, 100, 250, 0.5);
    border-radius: 5px;
    padding: 1rem;
}
