:root {
    --font-family: Verdana, sans-serif;
    --margin-lr: min(15rem, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: clamp(2rem, calc(6vw + 1rem), 5rem);
}

body {
    margin: 0 var(--margin-lr);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
}

header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    z-index: 1000;
}

#page_header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_header__link {
    color: black;
    text-decoration: underline;
}

.page_header__link:hover {
    color: blue;
}
